@import url("https://fonts.googleapis.com/css?family=Arimo:400,700");

body {
  height: 100%;
  width: 100%;
  background: #F6F6F6;
  font-family: 'Arimo', Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #010b26;
}

* {
  -webkit-transition: 300ms;
  transition: 300ms;
}

.movie-card a {
  text-decoration: none;
  color: inherit;
}

.movie-card a:hover {
  color: #6ABCEA;
}

.movie-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  max-width: 100%;
  margin-top: 10vh;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.movie-card {
  background: grey;
  box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 315px;
  margin: 2em;
  border-radius: 10px;
  display: inline-block;
  position: relative;
}

.removeFavorite {
  position: absolute;
  top: 10px;
  left: 10px;
}

.movie-header {
  padding: 0;
  margin: 0;
  height: 367px;
  width: 100%;
  display: block;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

img .movie-poster {
  background-size: cover;
}

.movie-card:hover {
  -webkit-transform: scale(1.03);
  transform: scale(1.03);
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.08);
}

.movie-content {
  padding: 18px 18px 24px 18px;
  margin: 0 auto;
  width: 100%;
}

.movie-content-header,
.movie-info {
  display: table;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.movie-title {
  font-size: 18px;
  font-weight: bold;
  margin: 0 auto;
  width: 100%;
  display: table-cell;
  color: white;
}

@media screen and (max-width: 500px) {
  .movie-card {
    width: 95%;
    max-width: 95%;
    margin: 1em;
    display: block;
  }

  .container {
    padding: 0;
    margin: 0;
  }
}